<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/headerFooter.css">
  <link rel="stylesheet" href="../../css/add_course.css">
  <title>Add Educator</title>
</head>
<body>
<div th:replace="fragments/admin_header :: header">
</div>

<div style="margin-top: 20px; margin-bottom: 20px;" class="container adding">
  <h1 style="text-align: center">
    Добавление нового преподавателя
  </h1>
  <form th:action="@{/admin/administration/add_educator}" method="post">
    <div class="form-group">
      <label for="username">Имя пользователя</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="firstName">Имя</label>
      <input type="text" id="firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="secondName">Фамилия</label>
      <input type="text" id="secondName" name="secondName" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Номер телефона</label>
      <input type="text" id="phoneNumber" name="phoneNumber" required>
    </div>
    <button type="submit" class="submit-button">Добавить преподавателя</button>
  </form>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>