<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/student_courses.css">
  <link rel="stylesheet" href="../css/headerFooter.css">

  <title>Educator Courses</title>
</head>
<body>
<div th:replace="fragments/educator_header :: header">
</div>

<div th:if="${courses.size() == 0}" class="msg">
  <p>Активных курсов нет</p>
</div>

<div class="container container-list">
  <ul class="course-list">
    <li th:each="courseDto : ${courses}">
      <a th:href="@{/educator/courses/{id}(id=${courseDto.getId()})}" class="no-style-link">
        <div class="course-item">
          <div class="course-details">
            <div class="course-title">
              <h2 class="course-name" th:text="${courseDto.getCourseName()}"></h2>
            </div>
            <div class="course-info">
              <p class="course-code" th:text="'Код группы: ' + ${courseDto.getGroupCode()}"></p>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>