body {
    background-color: #f2f2f2; /* Серый цвет заднего фона страницы */
}

.users-container {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th,
.users-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.users-table th {
    font-weight: bold;
}

.users-table a {
    display: block;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}

a.users-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

a.users-btn:hover {
    background-color: #0056b3;
}

td:last-child {
    padding-right: 0;
}

.add-user-buttons {
    margin-bottom: 20px;
}

.add-user-buttons a {
    border-radius: 4px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

.add-user-buttons a:hover {
    background-color: #45a049;
}

.add-user-buttons a:focus {
    outline: none;
}

.add-student-link{
    margin-left: 280px;
}

