<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<header th:fragment="header">
  <nav class="header_nav">
    <ul class="header_ul">
      <li class="header_li"><a th:href="@{/main}" class="logo">TechnoAcademy</a></li>
      <li class="header_li"><a th:href="@{/main}" class="active">Мои курсы</a></li>
      <li class="header_li"><a href="/profile" class="btn profile">Профиль</a></li>
    </ul>
  </nav>
</header>
</body>
</html>